/* Die Schriftart "IBM Plex Sans" wird aus google importiert */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

html {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
}

div {
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

p {
	padding: 1em 3em;
	border: solid 3px darkgrey;
	border-left: solid 3px orange;
	margin: auto;
	margin-bottom: 50px;
	width: 200px;
	text-align: center;
	width: 200px;
	
}

#start {
	
}

#button {
	margin-top: 10px;
}

#score {
	position: absolute;
	top: 300px;
	left: 0px;
	padding: 0.25em 0.5em;
	border: solid 3px darkgrey;
	border-left: solid 3px orange;
	margin-top: 0px;
	margin-left: 0px;
	width: 350px;
	text-align: center;
}

#retry {
	position: absolute;
	left: 50px;
	top: 50px;
}