@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

canvas {
position: absolute;
}

#canvas2 {
    margin-top: 50px;
    margin-left: 50px;
}

#karocanvas {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
#selected_color {
    position: absolute;
    width: 200px;
    height: 200px;
    border-color: none;
    border: none;
    opacity: 0;
    margin-top: 10px;
    margin-left: 10px;
}
#selected_color2 {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    border-color: #ffff00;
    border: none;   
    opacity: 0;
}

#extraKaros {
    position: absolute;
    margin-left: 210px;
}

#extraKaro1 {
    position: absolute;
}



ul {
    list-style-type: none;
  }


.buttons {
    background-color: #dfdfdf;
    color: rgb(150, 150, 150);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    margin-top: 250px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 165px;
}


@keyframes mymove {
    from {width:0px; background-color: #1b1b1b; z-index: 5;}
    to {width:165px; background-color: #1b1b1b; z-index: 5;}
  }


.buttons:hover {
    background-color: #1b1b1b;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 165px;
    animation-name: mymove;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-iteration-count: 1;
}




#center {
    margin-left: -250px;
  display: flex;
  justify-content: center
}

#buttons {
    margin-left: -77px;
  display: flex;
  justify-content: center
}

#monochrom {
    text-align: center;
}
